<div class="meny">
    <h2 class="menu-header">导航</h2>
    <ul class="menu-ul">

        <a href="{{site.baseurl}}/category/first_page"><li class="meny-li">首页推荐</li></a>
        <a href="{{site.baseurl}}/category/coderoad"><li class="meny-li">程序员之路</li></a>
        <a href="{{site.baseurl}}/category/utils"><li class="meny-li">实用工具</li></a>
        <a href="{{site.baseurl}}/category/thinking"><li class="meny-li">人生感想</li></a>
        <a href="{{site.baseurl}}/category/future"><li class="meny-li">未来国小说（1-6）</li></a>          
        <a href="{{site.baseurl}}/category/saying"><li class="meny-li">评头论足</li></a>
        <a href="{{site.baseurl}}/category/hippocrene"><li class="meny-li">灵感</li></a>
         <a href="{{site.baseurl}}/category/about"><li class="meny-li">About</li></a>
        <!-- <a href="https://github.com/sharu725/gatok"><li class="meny-li">Project</li></a>
        <a href="https://github.com/sharu725/gatok/archive/master.zip"><li class="meny-li">Download</li></a> -->
        <a href="{{site.baseurl}}/contact/"><li class="meny-li">Contact</li></a>
        
    </ul>
    {% if site.version %}
    <p style="color: #eee">Site Version {{site.version}}</p>
    {% endif %}
</div>
